<div class="container-fluid homeContainer">
  <div class="row allquiz">
   <div class="col-xs-3 col-md-3 col-lg-3" *ngFor="let quiz of allquiz">
      <div class="catBox">
        <img src={{quiz.image}} class="img img-thumbnail" alt="">
        <ul>
          <li>{{quiz.image}}</li>
          <li>id: {{quiz.quiz_id}}</li>
          <li>name: {{quiz.quiz_name}}</li>
          <li>name: {{quiz.quiz_cat}}</li>
        </ul>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad beatae commodi ducimus eaque, fugiat incidunt labore tenetur voluptatibus.
        Aspernatur debitis dolores harum inventore labore molestias perspiciatis placeat quam ut vero?
      </div>
    </div>
  </div>
</div>
